.block {
    display: block;
    margin: 1rem 0;
    padding: 2rem;
    color: white;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: #0d6efd;
    border-radius: 20px;
    text-decoration: none;
}

.block:hover {
    cursor: pointer;
    background-color: #0a58ca;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
}